html {
  scroll-behavior: smooth;
}

body {
  --bg-color: rgb(255, 255, 249, 0.9);
  --bg-color-transparent: rgb(255, 255, 249, 0.9);
  --main-color: #2a2a2a;
  --white-color: #fffff9;
  --white-form-color: #f9f9f9;
  --accent-darker-color-1: #009c8d;
  --accent-darker-color-2: #25a195;
  --accent-color: #00baa4;
  --accent-lighter-color-1: #2cd0bd;
  --accent-lighter-color-2: #37ddcb;
  --accent-lighter-color-3: #63ddd0;
  --accent-color-red: #d42121;
  --accent-button-color: #beede8;
  --gradient: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  --modal-background-color: rgba(0, 0, 0, 0.5);
  --modal-shadow-color: rgba(0, 0, 0, 0.3);

  --offer-img-layer: -2;
  --image-bg: -1;
  --nav-menu-layer: 1;
  --header-layer: 2;
  --portfolio-text-layer: 3;
  --modal-layer: 4;

  color: var(--main-color);
  background-color: var(--bg-color);
  background-image: url(../img/fon.jpg);
  background-repeat: no-repeat;
  background-size: contain;

  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--gradient);
  pointer-events: none;
  z-index: -1;
}

a {
  font-size: 16px;
  color: var(--main-color);
  transition: color 0.5s ease-in-out;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

h2 {
  font-size: 22px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 20px 5px;
}

h4 {
  font-size: 16px;
  font-weight: 700;
  margin: 5px 5px;
}

p {
  font-size: 15px;
}

a.button {
  padding: 10px;
  border: 1px solid var(--accent-color);
  border-radius: 20px;
  transition:
    background-color 0.5s ease-in-out,
    color 0.5s ease-in-out;
}

@media (hover: hover) {
  a:hover {
    color: var(--accent-color);
  }

  a.button:hover {
    background-color: var(--accent-color);
    color: var(--main-color);
  }
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 800px) {
  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/fon.jpg);
    opacity: 0.5;
    z-index: var(--image-bg);
  }

  a {
    font-size: 14px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 14px;
  }

  p {
    font-size: 14px;
  }
}
