.header {
  background-color: var(--bg-color);
  width: 100%;
  display: flex;
  position: sticky;
  top: 0;
  height: 100px;
  transition: height 0.5s ease-in-out;
  z-index: var(--header-layer);
}

.header.shrink {
  height: 70px;
  background-color: var(--accent-button-color);
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 80px;
}

.navbar {
  display: flex;
  gap: 70px;
}

.navbar li a {
  position: relative;
  text-decoration: none;
}

.navbar li a:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 1px;
  background-color: var(--main-color);
  transition: width 0.5s;
}

.navbar li a:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 1px;
  background-color: var(--accent-color);
  transition: width 0.5s;
}

.phone {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.phone__for-tablet {
  display: none;
}

.name p,
.phone p {
  color: var(--accent-color);
}

.link__phone {
  color: var(--main-color);
}

.burger-menu__wrapper {
  display: none;
}

.burger-menu {
  display: none;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
  cursor: pointer;
  z-index: calc(var(--nav-menu-layer) + 1);
  top: 35px;
}

.burger-menu span {
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: var(--main-color);
  z-index: calc(var(--nav-menu-layer) + 1);
}

.burger-menu::before,
.burger-menu::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--main-color);
  transition: all 0.3s ease 0s;
}

.burger-menu::before {
  top: 0;
}

.burger-menu::after {
  bottom: 0;
}

.burger-menu.active span {
  transform: scale(0);
}

.burger-menu.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger-menu.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

@media only screen and (max-width: 1200px) {
  .navbar {
    gap: 30px;
  }
}

@media only screen and (max-width: 1100px) {
  .header__content {
    margin: 0 50px;
  }
}

@media only screen and (max-width: 1050px) {
  .navbar {
    gap: 20px;
  }

  .navbar li a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 980px) {
  .burger-menu {
    display: flex;
  }
}

@media only screen and (max-width: 970px) {
  .header__content {
    margin: 0 20px;
  }
}

@media only screen and (max-width: 900px) {
  .phone {
    display: none;
  }

  .phone__for-tablet {
    display: block;
  }

  .burger-menu__wrapper {
    display: block;
    position: relative;
    right: 20px;
  }

  .nav {
    height: 100%;
    display: none;
    flex-direction: column;
    position: fixed;
    inset: 0;
    overflow-y: auto;
    padding: 50px 40px;
    background-color: var(--white-color);
    animation: burgerAnimation 0.4s;
    z-index: var(--nav-menu-layer);
  }

  .nav.open {
    display: flex;
  }

  .navbar {
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 40px;
  }

  .navbar li a {
    font-size: 18px;
  }
}

@keyframes burgerAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
