.icons__social {
  display: flex;
  justify-content: flex-end;
  height: 50px;
  margin: 20px 0;
}

.icons__social ul {
  display: flex;
  gap: 20px;
  height: 50px;
}

.icon {
  width: 50px;
  text-align: end;
}

.icon a img {
  width: 40px;
  transition: width 0.5s ease-in-out;
}

@media (hover: hover) {
  .icon a img:hover {
    width: 48px;
  }
}
