main {
  display: flex;
  flex-direction: column;
}

section {
  padding: 0 80px;
  margin: 20px 0;
}

.steps {
  margin-bottom: 0;
}

.portfolio {
  margin-top: 0;
}

.developer {
  margin-top: 0;
  margin-bottom: 0;
}

@media only screen and (max-width: 1100px) {
  section {
    padding: 10px 50px;
  }
}

@media only screen and (max-width: 970px) {
  section {
    padding: 10px 20px;
  }
}
