.portfolio {
  background-color: var(--bg-color);
}

.portfolio-container_1 {
  display: grid;
  border-radius: 20px;
  grid-template-columns: repeat(5, 19.2%);
  grid-template-rows: repeat(2, 50%);
  grid-template-areas:
    "a b c d e"
    "f b g g e";
  gap: 10px 10px;
}

.portfolio-container_2 {
  display: grid;
  border-radius: 20px;
  grid-template-columns: repeat(5, 19.2%);
  grid-template-rows: repeat(2, 50%);
  grid-template-areas:
    "h i j k l"
    "m i n n n";
  gap: 10px 10px;
}

.portfolio-container__for-sale_1 {
  display: grid;
  border-radius: 20px;
  grid-template-columns: repeat(5, 19.2%);
  grid-template-rows: repeat(2, 50%);
  grid-template-areas:
    "o p q r s"
    "t t u u u";
  gap: 10px 10px;
}

.portfolio-container__for-sale_2 {
  display: grid;
  border-radius: 20px;
  grid-template-columns: repeat(5, 19.2%);
  grid-template-rows: repeat(2, 50%);
  grid-template-areas:
    "a b c d e"
    "f g h i j";
  gap: 10px 10px;
}

.portfolio-container__rent {
  display: grid;
  border-radius: 20px;
  grid-template-columns: repeat(5, 19.2%);
  grid-template-rows: repeat(2, 50%);
  grid-template-areas:
    "a b c d e"
    "f g h i i";
  gap: 10px 10px;
}

.portfolio__photo {
  overflow: hidden;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid var(--accent-color);
  border-radius: 20px;
  opacity: 0.9;
  scale: 1;
  transition:
    opacity 0.5s ease-in-out,
    scale 0.5s ease-in-out,
    border 0.5s ease-in-out;
}

.photo-1,
.photo-22,
.photo-32 {
  grid-area: a;
}

.photo-2,
.photo-23,
.photo-33 {
  grid-area: b;
}

.photo-3,
.photo-24,
.photo-34 {
  grid-area: c;
}

.photo-4,
.photo-25,
.photo-35 {
  grid-area: d;
}

.photo-5,
.photo-26,
.photo-36 {
  grid-area: e;
}

.photo-6,
.photo-27,
.photo-37 {
  grid-area: f;
}

.photo-7,
.photo-28,
.photo-38 {
  grid-area: g;
}

.photo-8,
.photo-29,
.photo-39 {
  grid-area: h;
}

.photo-9,
.photo-30,
.photo-40 {
  grid-area: i;
}

.photo-10,
.photo-31 {
  grid-area: j;
}

.photo-11 {
  grid-area: k;
}

.photo-12 {
  grid-area: l;
}

.photo-13 {
  grid-area: m;
}

.photo-14 {
  grid-area: n;
}

.photo-15 {
  grid-area: o;
}

.photo-16 {
  grid-area: p;
}

.photo-17 {
  grid-area: q;
}

.photo-18 {
  grid-area: r;
}

.photo-19 {
  grid-area: s;
}

.photo-20 {
  grid-area: t;
}

.photo-21 {
  grid-area: u;
}

.photo-1 img,
.photo-4 img {
  transform: scale(1.5);
}

.photo-2 img,
.photo-5 img {
  transform: scale(3.6);
}

.photo-3 img,
.photo-6 img {
  transform: scale(3);
}

.photo-8 img,
.photo-10 img,
.photo-11 img,
.photo-12 img,
.photo-13 img {
  transform: scale(1.1);
}

.photo-9 img {
  transform: scale(3.5);
  position: relative;
  bottom: -200px;
}

.photo-14 img {
  transform: scale(1.5);
}

.photo-15 img,
.photo-16 img,
.photo-17 img,
.photo-18 img{
  transform: scale(3.7);
}

.photo-19 img {
  transform: scale(3.7);
  position: relative;
  left: 50px;
}

.photo-21 img {
  position: relative;
  bottom: 100px;
}

.photo-22 img,
.photo-23 img,
.photo-24 img,
.photo-25 img,
.photo-26 img,
.photo-27 img,
.photo-28 img,
.photo-29 img,
.photo-30 img,
.photo-31 img {
  transform: scale(1.2);
}

.photo-35 img,
.photo-36 img,
.photo-37 img,
.photo-38 img,
.photo-39 img {
  transform: scale(6.2);
}

.photo-40 img {
  transform: scale(2.5);
}

.portfolio__status {
  position: absolute;
  right: 10px;
  top: 10px;
}

.portfolio__address {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.portfolio__status,
.portfolio__address {
  z-index: var(--portfolio-text-layer);
  color: var(--white-color);
  font-weight: 600;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

@media (hover: hover) {
  .portfolio__photo:hover {
    opacity: 1;
    scale: 1.03;
    border: none;
  }

  .portfolio__photo:hover .portfolio__status,
  .portfolio__photo:hover .portfolio__address {
    opacity: 0;
  }
}

@media only screen and (max-width: 1000px) {
  .portfolio-container_1 {
    grid-template-columns: repeat(3, 32.2%);
    grid-template-rows: repeat(3, 33%);
    grid-template-areas:
      "a b c"
      "d b e"
      "g g g";
  }

  .portfolio-container_2 {
    grid-template-columns: repeat(3, 32.2%);
    grid-template-rows: repeat(3, 33%);
    grid-template-areas:
      "h i j"
      "m i k"
      "n n n";
  }

  .photo-1 img,
  .photo-4 img {
    transform: scale(1.7);
  }

  .photo-2 img {
    transform: scale(4.5);
  }

  .photo-5 img {
    transform: scale(1.7);
  }

  .photo-3 img,
  .photo-6 img {
    transform: scale(3.7);
  }
}

@media only screen and (max-width: 700px) {
  .portfolio-container_1 {
    grid-template-columns: repeat(2, 48%);
    grid-template-rows: repeat(4, 25%);
    grid-template-areas:
      "a b"
      "c b"
      "e f"
      "e g";
  }

  .portfolio-container_2 {
    grid-template-columns: repeat(2, 48%);
    grid-template-rows: repeat(4, 25%);
    grid-template-areas:
      "h i"
      "m i"
      "n n"
      "k j";
  }

  .photo-5 img,
  .photo-7 img {
    transform: scale(2.5);
  }

  .photo-14 img {
    transform: scale(2.5);
  }
}

@media only screen and (max-width: 400px) {
  .portfolio-container_1 {
    display: flex;
    flex-direction: column;
  }

  .portfolio-container_2 {
    display: flex;
    flex-direction: column;
  }
}
