.steps {
  width: 100%;
  background-color: var(--bg-color);
  padding: 0 20px 0 20px;
}

.steps ul {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.steps ul li {
  font-size: 16px;
  padding: 15px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  height: 80px;
  background-color: var(--accent-button-color);
  transition: background-color 0.5s ease-in-out;
}

@media (hover: hover) {
  .steps ul li:hover {
    background-color: var(--accent-color);
  }
}

@media only screen and (max-width: 1050px) {
  .steps ul li {
    font-size: 14px;
  }
}

@media only screen and (max-width: 925px) {
  .steps ul li {
    font-size: 12px;
  }
}

@media only screen and (max-width: 850px) {
  .steps {
    padding: 0 20px 20px 20px;
  }

  .steps ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .steps ul li {
    width: 100px;
    border-radius: 20px;
  }
}
